@media screen and (max-width: 591px) {

    div.cards h3.titleCard {
        padding: 1rem 1rem;
    }

    div.cards p.textCard {
        max-width: 100%;
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 767px) {
    header nav#navbar ul.nav-list {
        display: none;
    }

    body .content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    aside {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body aside img.imageAside {
        width: 15rem;
    }

    main h1 {
        padding: 2rem 0;
    }

    main div.buttons {
        margin-top: 2rem;
        margin-bottom: 10rem;
        gap: 1rem;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.titleStore p.classP {
        width: 70%;
    }
/* 
    div.cards h3, div.cards p {
        white-space: pre-wrap
    } */
}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    .bodyStore {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.titleStore p.classP {
        width: 40rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1040px) {
    body aside img.imageAside {
        width: 350px;
    }

    body .content {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main h1 {
        padding-top: 1rem;
    }

    .barsMenu {
        display: none;
    }

    section .buttonBuy {
        margin-bottom: 30rem;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1320px) {
    body aside img.imageAside {
        margin-top: auto;
        margin-right: 3rem;
    }

    main {
        right: 10rem;
        margin-left: auto;
    }

    main h1 {
        margin-top: auto;
    }

    main p {
        max-width: 34rem;
    }

    .barsMenu {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .barsMenu {
        display: none;
    }

}