header {
    background-color: #333333;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
    opacity: 97%;
}

header nav#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 4rem;
}

header nav#navbar .nav-brand {
    display: flex;
    align-items: center;

    gap: 1rem;
}

header nav#navbar .columnName {
    flex-direction: column;
}

header nav#navbar .nav-brand h1 {
    font-family: 'Grenze', serif;
    font-weight: 400;
    font-size: 1.6rem;
}

header nav#navbar .nav-brand h2 {
    font-family: 'Grenze', serif;
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
}

header nav img#image-logo {
    width: 50px;
}

header nav#navbar ul.nav-list {
    display: flex;
    align-items: center;

    list-style: none;
    gap: 1rem;
}

header nav#navbar ul.nav-list li a {
    display: flex;
    color: #ccc;
    font-size: .8rem;
    transition: color 0.3s;
}

header nav#navbar ul.nav-list li a:hover {
    color: white;
    transition: 0.3s;
}

.navIcon {
    padding: 1px 5px;
}

.barsMenu {
    z-index: 99999;
    cursor: pointer;
}