* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* section#articles {
    width: 1240px;
    padding: 0 2rem;
    margin: 4rem auto;

    display: flex;
    flex-direction: column;
    gap: 46px;
} */